@font-face {
  font-family: din-2014;
  src: url(https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191)
      format('woff2'),
    url(https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191)
      format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: din-2014;
  src: url(https://use.typekit.net/af/abc1c3/00000000000000003b9b0ac9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191)
      format('woff2'),
    url(https://use.typekit.net/af/abc1c3/00000000000000003b9b0ac9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191)
      format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
