@use './mixin' as *;

body {
  color: white;
  font-family: var(--font-family-primary);
  font-size: var(--initial-font-size);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  @include responsive('sm', true) {
    font-size: 1.2rem;
  }
}

body,
html,
#root {
  min-height: 100vh;
}

#root {
  max-width: 112rem;
  margin: auto;
  padding: 2em;
}

html,
body {
  scroll-behavior: smooth;
}
