@use '../../styles/abstracts/mixin' as *;

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.image {
  top: 0;
  bottom: auto;
}

.content {
  position: relative;
  box-shadow: 0 0 0.25rem 0.15rem var(--color-secondary-light);
  border-radius: 0.5rem;
  padding: 2em;
  min-height: 50rem;
}

.details {
  width: 60%;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  @include responsive('md', true) {
    flex-direction: column;
  }
}

.back {
  cursor: pointer;
  font-size: 1.5em;
  align-self: flex-start;
  margin-bottom: 3em;
  &:hover {
    box-shadow: 0 0 0.25rem 0.15rem var(--color-secondary-light);
  }
}

.label {
  display: inline-block;
  margin-right: 1.5em;
}

.data {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.legend {
  font-size: 2em;
}

.options {
  margin: 0.5em 0;
}

.information {
  font-size: 1.5em;
}

.option {
  opacity: 0.5;
  &.optionSelected {
    opacity: 1;
    box-shadow: 0 0 0.25rem 0.15rem white;
  }
  & > * {
    font-size: 2em;
  }
  cursor: pointer;
  height: 4em;
  width: 4em;
  box-shadow: 0 0 0.25rem 0.15rem var(--color-secondary-light);
  border-radius: 0.5rem;
  &:not(&:last-child) {
    margin-right: 1em;
  }
}
